body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('15_1sas12das.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 5px; /* i stopped here*/
}
form {
    margin-top: 100px;
    max-width: 400px;
    padding: 150px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

li strong {
    font-weight: bold;
}

li span {
    font-size: 1.5em;
    margin-left: 5px;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(45, 154, 43, 0.3);
}

.chat-sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.chat-sidebar li {
    list-style: none;
    margin-bottom: 10px;
}

.chat-sidebar a {
    text-decoration: none;
    color: rgb(6, 20, 1);
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 20px;
}

.chat-sidebar a:hover {
    color:#4cf82d;
}


