body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('15_1sas12das.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.img-container {
    display: flex;
    align-items: center;
}

#num {
    width: 500px;
    height: 500px;
    border-radius: 100px;
    padding: 0%;
    margin: 50px;
    object-position: left;
    box-shadow: rgba(1, 65, 24, 0.4) 5px 5px, rgba(2, 110, 31, 0.3) 10px 10px, rgba(28, 236, 9, 0.2) 15px 15px, rgba(103, 249, 105, 0.1) 20px 20px, rgba(149, 251, 173, 0.05) 25px 25px;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

li strong {
    font-weight: bold;
}

li span {
    font-size: 1.5em;
    margin-left: 5px;
}

.description {
    display: flex;
    flex-direction: column; 
    margin-left: 20px; 
    font-size: 18px;
    }
    
    /* Add margin to the <p> element to separate it from the image */
    .description p {
        margin-left: 0px;
    }

    .chat-container {
        display: flex;
        height: 100vh;
    }
    
   /* .chat-sidebar {
        width: 20%;
        background-color: #549170;
        color: #ffffff;
        padding: 20px;
    }
     
    
    .chat-sidebar li {
    padding-top: 25px;
    list-style:unset;
    
    }
    
    .chat-sidebar li a {
    color:rgb(0, 47, 32);
    font-style:initial;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
        
        }*/
        
        .chat-sidebar {
            width: 250px;
            background-color: #333;
            color: white;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(53, 72, 52, 0.3);
        }
        
        .chat-sidebar h1 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        
        .chat-sidebar li {
            list-style: none;
            margin-bottom: 10px;
        }
        
        .chat-sidebar a {
            text-decoration: none;
            color: rgb(6, 20, 1);
            font-weight: bold;
            transition: color 0.3s ease;
            font-size: 20px;
        }
        
        .chat-sidebar a:hover {
            color:#4cf82d;
        }
        
    
    .chat-content {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    
    .chat-header {
        align-items: center;
        background-color: #019a60;
        color: #ffffff;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0);
        margin-left: 100px;
        margin-right: 500px;
    }
    .chat-header h2 {
        padding-left: 30px;

    }